
<html>
<head>
<link href="/static/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<title> Client Lists </title>
  <style type="text/css">
    p {
    color: blue;
    text-align: center;
} 
  </style>
</head>
<body bgcolor="pink">
<center>
  <br>
  <font color="blue" size="5">
      <b>Clients Record</b>
    </font>
  <br>
  <marquee>
    <font color="green" size="3">
      <b>Finaly we got  Clients Record Thank You Mr Aslam Khan & Mr Arun Gopi</b>
    </font>
  </marquee>
</center>
<br>
<div class="well" >
  <center>
    <p><font color="red" size="4">Name : </font>{{client.name}}</p>
    <p><font color="red" size="4">Mobile  :</font> {{client.mobile}}</p>
    <p><font color="red" size="4">Phone : </font>{{client.phone}}</p>
    <p><font color="red" size="4">Address : </font>{{client.address}}</p>
  </center>
  </div>
</body>
</html>